.imgwidth{
    width: 150px;
}
.box2 {
    background-color: #0668E1;
    position: relative;
    margin-left:-12px ;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    
  }
  .box2p,form {
    display: inline-block;
    margin-left: 10%;
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:white;
  }

  .box1 {
    position: relative;
  }

  .highwid{
    margin:auto;
    height: 500px;
    margin-top: 50px;
width: 700px;
  }

  a{
    text-decoration: none;
  }