<div class="highwid row container border border-2  rounded ">


  <div class="box2  col" style="margin-left: -29px;">

    <p class="box2p ">
      Welcome, <br>
      If you forget the password please fill the required fields to reset your password.
      Thankyou.
    </p>

  </div>

  <div class=" box1 col ">

    <form class="form" [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()">
      <br>

      <input class="form-control " type="date" max={{today}} placeholder="Enter Date of Birth" formControlName="dob"
        style="background-color:rgb(227, 224, 224); " />

      <small class="text-danger " *ngIf="createPasswordForm.controls['dob'].touched">
        <span
          *ngIf="createPasswordForm.controls['dob'].errors && createPasswordForm.controls['dob'].errors['required'] ">
          date of birth is required
        </span>
      </small>




      <div class="input-group mt-3">

        <input class="form-control " [type]="changeType1 ? 'password' : 'text'" placeholder="Enter New Password"
          formControlName="newPassword" maxlength="10" style="background-color:rgb(227, 224, 224);  " />

        <span class="input-group-text" id="addon-wrapping" style="
                  color: black;
                  font-size: 18px;
                  background-color: transparent;
                  border-left: none;
                  border-color: rgb(216, 216, 216);
                ">
          <i [ngClass]="visible1 ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="show1()"></i>
        </span>
      </div>


      <small class="text-danger " *ngIf="createPasswordForm.controls['newPassword'].touched">
        <span
          *ngIf="createPasswordForm.controls['newPassword'].errors && createPasswordForm.controls['newPassword'].errors['required'] ">
          Password is required
        </span>
        <span
          *ngIf="createPasswordForm.controls['newPassword'].errors && createPasswordForm.controls['newPassword'].errors['minlength']"
          style="color:red">
          password minlength should be 6 characters
        </span>

      </small>

      <br>

      <div class="input-group">

        <input class="form-control  " [type]="changeType2 ? 'password' : 'text'" (change)="change()"
          placeholder="Confirm Password" formControlName="confirmPassword" maxlength="10"
          style="background-color:rgb(227, 224, 224); ">

        <span class="input-group-text" id="addon-wrapping" style="
                  color: black;
                  font-size: 18px;
                  background-color: transparent;
                  border-left: none;
                  border-color: rgb(216, 216, 216);
                ">
          <i [ngClass]="visible2 ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="show2()"></i>
        </span>
      </div>

      <small class="text-danger" *ngIf="createPasswordForm.controls['confirmPassword'].touched">
        <span
          *ngIf="createPasswordForm.controls['confirmPassword'].errors && createPasswordForm.controls['confirmPassword'].errors['required'] ">
          Confirm password is required
        </span>
      </small>


      <div class="text-center">
        <button class="btn btn-primary mt-4" [disabled]="createPasswordForm.invalid"
          style="background-color:#0668E1; border: none;">Submit</button>
      </div>

    </form>

  </div>
</div>